{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="contenedor-botones">
    <a type="button" id="btnfacebook" href="https://www.facebook.com/marcelo.ibarrahuamncari">
    <img src="static/css/btnfacebook.png" width="50px" ><br>
    </a>
    <a type="button" id="btnwhatsapp" href="https://wa.link/ibgjf4">
        <img src="static/css/btnwhatsapp.png" width="50px" ><br>
    </a>
    <a type="button" id="btninstagram" href="https://www.instagram.com/raymarcelo2018/">
        <img src="static/css/btninstagram.png" width="50px" >
    </a>
    </div>     
{% endblock %}