{% extends "layout.html" %}

{% block content %}

<div class="container">
 <div class="contenedor-cards">
    <div class="card" style="width: 18rem;">
        <img src="static/css/trabajosray/resistencias.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Resistencias</h5>
          <p class="card-text">Nuestras resistencias de alta calidad son la opción perfecta para controlar el flujo de corriente eléctrica en cualquier circuito. 
            Con una amplia variedad de valores de resistencia y potencia, nuestras resistencias se adaptan a cualquier necesidad y proyecto.<p>
          <a href="https://m.me/109614254103063" class="btn btn-primary">Consulte</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="static/css/trabajosray/resistencias.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" >Card title</h5>
          <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Consulte</a>
        </div>
      </div>
 </div>
 </div>






</div>








{% endblock %}