{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quienes Somos</title>
    </head>
    <body>
        <div class="container">
            <div class="formatotexto">
                Somos una empresa de programación dedicada a crear soluciones
                    tecnológicas innovadoras y
                    personalizadas para nuestros clientes. Nos especializamos en
                    el desarrollo de software a medida y
                    en la integración de sistemas complejos para empresas de
                    todos los tamaños y sectores.

                    En nuestro equipo contamos con expertos en diferentes áreas
                    de la programación, desde el diseño de
                    interfaces de usuario hasta la programación de aplicaciones
                    web y móviles, pasando por el desarrollo de
                    soluciones en la nube y la implementación de inteligencia
                    artificial y machine learning.

                    Nuestro enfoque está centrado en la satisfacción del cliente
                    y en la calidad de nuestros productos y
                    servicios. Trabajamos en estrecha colaboración con nuestros
                    clientes para entender sus necesidades y ofrecer soluciones
                    que se adapten a sus requisitos específicos.

                    En resumen, somos una empresa de programación comprometida
                    con la excelencia en la creación de soluciones
                    tecnológicas avanzadas y personalizadas. Si necesita ayuda
                    en el desarrollo de software o en la integración de
                    sistemas,
                    no dude en ponerse en contacto con nosotros para discutir
                    cómo podemos ayudarle a alcanzar sus objetivos.
            </div>
        </div>
    </body>
</html>
{% endblock %}