{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="textomarcado">
<p style="font-size:50px;" id="titulo1"">Nuestros trabajos</p>
</div>
</div>
<div class="container">
  <div class="contenedor-imagenes">

    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/trabajo1.jpg" class="d-block w-100" alt="mueble5">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/trabajo2.jpg" class="d-block w-100" alt="mueble6">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/trabajo3.jpg" class="d-block w-100" alt="mueble6">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">

      <div class="carousel-inner" id="carouselExampleInterval2">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/mueble1.jpg" class="d-block w-100"
            alt="mueble1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/muebele2.jpg" class="d-block w-100"
            alt="mueble2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/mueble3.jpg" class="d-block w-100"
            alt="mueble2">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/pared1.jpg" class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/pared2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/pared3.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="static/css/trabajosray/drywall/puertas1.jpg" class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="static/css/trabajosray/drywall/puertas2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      

    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/pintado1.jpg"  class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/pintado2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/pintado3.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/melamina3.jpg"  class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/melamina2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/melamina1.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/oficio1.jpg"  class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/oficio2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/oficio3.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/muestra1.jpg"  class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/muestra2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/muestra3.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleInterval3">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/drywall3.jpg"  class="d-block w-100"
            alt="mueble3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/drywall1.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="static/css/trabajosray/drywall/drywall2.jpg" class="d-block w-100"
            alt="mueble4">
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
</div>




{% endblock %}